* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.answer {
    width: 487px;
    height: 450px;
    background-color: wheat;
    font-size: 25px;
}